.elements {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px 17px;
	margin: 0 auto;
	max-width: 880px;
	width: 100%;
	padding-top: 51px;
}

@media screen and (max-width: 768px) {
	.elements {
		grid-template-columns: repeat(2, 49%);
		grid-template-rows: repeat(3, 1fr);
		max-width: 580px;
		grid-gap: 15px 10px;
	}
}

@media screen and (max-width: 470px) {
	.elements {
		display: flex;
		flex-direction: column;
		width: 282px;
	}
}