.element__like-button {
	max-width: 22px;
	height: 19px;
	background-color: transparent;
	border: none;
	background-image: url(../../../images/elements/heart.svg);
	background-repeat: no-repeat;
	background-size: 22px 22px;
	background-position: center;
	padding: 0;
	align-self: center;
	width: 22px;
	transition: opacity .2s;
}

.element__like-button:hover {
	opacity: 0.5;
	cursor: pointer;
}