.popup__save-button_inactive {
    background-color: transparent;
    color: #000000;
    opacity: 0.3;
    border: 1px solid #000000;
}

.popup__save-button_inactive:hover {
    opacity: 0.3;
	cursor: auto;
}