.modal__close-button {
    align-self: flex-end;
	margin-top: -40px;
	margin-right: -40px;
    width: 40px;
	height: 40px;
	background-image: url(../../../images/popup/Close\ Icon.svg);
	background-repeat: no-repeat;
	background-size: 60px 60px;
	background-position: center;
	border: none;
	padding: 0;
	background-color: transparent;
	transition: opacity .2s;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
	.modal__close-button {
		margin-right: 0;
		width: 26px;
		height: 26px;
		background-image: url(../../../images/popup/Close\ Icon\ mobile.svg);
		background-size: auto;
		position: absolute;
	}
}