.profile__info {
	align-self: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 336px;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.profile__info {
		padding-top: 30px;
		text-align: center;
		padding-bottom: 36px;
		margin: 0;
		justify-content: center;
	}
}

@media screen and (max-width: 470px) {
	.profile__info {
		padding-top: 22.5px;
		max-width: 282px;
	}
}